---
layout: archive
title: "Dernières idées"
---

{% for post in paginator.posts %}
    {% include post-grid.html %}
{% endfor %}


{% if paginator.total_pages > 1 %}
    <hr />
    <div class="pagination">
        {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                    <span class="pagination-next">articles suivants</span>
               </a>
        {% else %}
               <span class="pagination-next">&nbsp;</span>
        {% endif %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <span class="pagination-previous">articles précédants</span>
            </a>
        {% else %}
            <span class="pagination-previous">&nbsp;</span>
        {% endif %}

        <span class="pagination-index">page {{ paginator.page }} sur {{ paginator.total_pages }}</span>
    </div>
{% endif %}

<hr />