---
layout: default
---

<div class="page">
	{% include tags.html %}
	<article itemscope itemtype="http://schema.org/Article">
		<div class="article-title">
		    <h1>{{ page.title }}</h1>
		</div>
		<div>
		    <div class="article-content" itemprop="articleBody">
		        {{ content }}
		    </div>
            <hr />
            <footer class="article-footer">
                {% include page-author.html %}
                {% include share-links.html %}
                {% include page-meta.html %}
            </footer>
            {% if page.comments != false %}
                <aside>
                    {% include comments.html %}
                </aside>
            {% endif %}
		</div>
	</article>
    <hr />
    <div class="pagination">
        {% if page.next %}
        <a href="{{ page.next.url }}" title="{{ page.next.title }}">
            <span class="pagination-next">article suivant</span>
        </a>
        {% else %}
        <span class="pagination-next">&nbsp;</span>
        {% endif %}
        &nbsp;
        {% if page.previous %}
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
            <span class="pagination-previous">article précédant</span>
        </a>
        {% else %}
            <span class="pagination-previous">&nbsp;</span>
        {% endif %}
    </div>
    <hr />
</div>
